body{
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0 , 94%);
    background-image: url("https://asset.gecdesigns.com/img/wallpapers/beautiful-radha-krishna-hd-wallpaper-sr06062501-cover.webp");
    /* background-image: url("/MYIMAGE.png"); */
    background-repeat: no-repeat;
     background-size: 100% 100%;   /*IT SHOWS THAT THE HEIGHT AND WIDTH ARE 100%*/  
    /* background-size: cover;  THE ABOVE LINE CAN ALSO BE DONE BY THIS  */
    /* backdrop-filter: blur(5px);  THIS IS USED TO MAKE THE IMAGE A LITTLE BLUR THIS IS USED WHEN WE HAVE TO MAKE FOCUS ON THE CONENT NOT ON THE IMAGE   */
} 