body{
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0 , 94%);
    background-image: url("https://asset.gecdesigns.com/img/wallpapers/beautiful-radha-krishna-hd-wallpaper-sr06062501-cover.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}