/* (*)ke andar by default cheeze hoti hain */
*{
    margin: 0;
    padding: 0;
}

p{
    margin: 40px;
    padding: 50px;
    border: 2px solid green;
    /* border has three attributes */
}


/* karan joshi loves harshita forever endever   */