h1{
    color: green;
    font-size: 50px;
    font-style: normal;
}
h1{
    color: violet;
}
h2{
    color: lawngreen;
}
h3{
    color: rgb(252, 113, 0);
}
h4{
    color: rgb(36, 5, 93);
}
h5{
    color: rgb(164, 252, 0);
}
h6{
    color: rgb(22, 175, 218);
}